{% extends 'accounts/manage/user_index.html' %}

{% block user_details %}
    {% with shots=user.likes.all  %}
        {% for content in shots %}
            <div class="infinite-item  transition-all duration-500 delay-300">
                <div class="relative h-60 w-full rounded-md group transition-all duration-500 delay-300">
                    {% if content.cover_shot.name|slice:"-3:" == 'png' or content.cover_shot.name|slice:"-3:" == 'jpg' or content.cover_shot.name|slice:"-3:" == 'gif' or content.cover_shot.name|slice:"-4:" == 'jpeg' or content.cover_shot.name|slice:"-4:" == 'webp' %}
                        <img class="w-full h-60 rounded-md object-cover" src='{{content.cover_shot.url}}' />
                    {% else %}
                        <video class="responsive-video" autoplay class="w-full h-60 rounded-md object-cover" preload="metadata">
                            <source  src="{{ content.cover_shot.url }}#t=0.5" type="video/mp4">
                        </video>
                    {% endif %}
                    <div class="absolute bottom-0 bg-[#000000bd] transition-all duration-500 delay-300 hidden group-hover:flex rounded-md left-0 h-16 w-full p-4  items-center justify-between">
                        <p class="text-white font-semibold text-lg">
                            <a href="{% url 'shots:shot_details' content.shot_uuid %}">
                                {{content.title}}
                            </a>
                        </p>
                        <div class="flex items-center space-x-3">
                            <p class="w-8 h-8 cursor-pointer rounded-md bg-white text-[#9e9ea7] grid items-center justify-center">
                                <i class='bx bxs-folder-plus text-lg' ></i>
                            </p>
                            {% if request.user.is_authenticated and request.user in content.user_like.all %}
                                <p id="like_btn_{{content.pk}}" 
                                data-action="unlike" 
                                data-uuid={{content.shot_uuid}} 
                                data-id={{content.id}} 
                                onclick="likePost('#like_btn_{{content.pk}}', '.likes-count-{{content.pk}}', '#like-btn-{{content.pk}}')" class="w-8 h-8 cursor-pointer rounded-md bg-white text-[#ea4c89] grid items-center justify-center">
                                    <i class="bx bxs-heart text-lg"></i>
                                </p>
                            {% else %}
                                <p id="like_btn_{{content.pk}}" data-action="like" data-uuid={{content.shot_uuid}} data-id={{content.id}} onclick="likePost('#like_btn_{{content.pk}}', '.likes-count-{{content.pk}}', '#like-btn-{{content.pk}}')" class="w-8 h-8 cursor-pointer rounded-md bg-white text-[#9e9ea7] grid items-center justify-center">
                                    <i class="bx bxs-heart text-lg"></i>
                                </p>
                            {% endif %}
                            
                            
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-between h-11">
                    <div class="flex items-center space-x-2">
                        {% if content.user.photo %}
                            <div class="h-8 w-8 rounded-full">
                                <img class="w-full h-full rounded-full"src='{{content.user.photo.url}}' />
                            </div>
                        {% else %}
                            <div class="text-center h-8 w-8 rounded-full text-base text-white bg-blue-800"></div>
                        {% endif %}
                        <p class="cursor-pointer">
                            <a class="text-base text-black font-normal" href="{% url "accounts:user_details" content.user.username content.user.pk %}">
                                {{content.user.username}}
                            </a>
                        </p>
                    </div>
                    
                    <div class="flex items-center space-x-2 text-[#9e9ea7] text-lg">
                        {% if request.user.is_authenticated and request.user in content.user_like.all %}
                        <p onclick="likePost('#like-btn-{{content.pk}}', '.likes-count-{{content.pk}}', '#like_btn_{{content.pk}}')" class="group cursor-pointer  text-[#ea4c89]" data-action="unlike" data-uuid={{content.shot_uuid}} data-id={{content.id}} id="like-btn-{{content.pk}}">
                            <i class="bx bxs-heart"></i> 
                            <span id="total-likes" class="text-[#9e9ea7] likes-count-{{content.pk}}">
                                {{content.user_like.count}}
                            </span>
                        </p>
                        {% else %}
                            <p onclick="likePost('#like-btn-{{content.pk}}', '.likes-count-{{content.pk}}', '#like_btn_{{content.pk}}')" class="group cursor-pointer" data-action="like" data-uuid={{content.shot_uuid}} data-id={{content.id}} id="like-btn-{{content.pk}}">
                                <i class="bx bxs-heart group-hover:text-[#ea4c89]"></i> 
                                <span id="total-likes" class="text-[#9e9ea7] likes-count-{{content.pk}}">{{content.user_like.count}}</span>
                            </p>
                        {% endif %}
                        <p  class="group cursor-pointer">
                            <i class='bx bxs-show group-hover:text-[#ea4c89]'></i> 
                            <span>{{content.view_count}}</span>
                        </p>  
                    </div>
                    
                </div>
            </div>
        {% endfor %}
    {% endwith %}
{% endblock user_details %}