{% extends '_base.html' %} 
{% block title %}{{request.user.first_name}} | Dribble {% endblock title %} 

{% block content %}
<div class="grid items-center w-11/12 mx-auto space-y-14 mb-10">
  <div class="flex items-center justify-self-center space-x-7">
    {% if user.photo %}
    <img
      src="{{user.photo.url}}"
      alt="{{user.first_name}}"
      class="w-32 h-32 rounded-full"
    />
    {% else %}
    <div
      class="text-center w-32 h-32 rounded-full text-base text-white bg-blue-800"
    ></div>

    {% endif %}

    <div class="space-y-3">
      <p class="text-4xl font-bold text-black">
        {{user.first_name}} {{user.last_name}}
      </p>
      <p class="text-base font-normal">{{user.location}}</p>
      <p class="text-base font-normal text-[#6e6d8f]">
        Mobile Design, UX Design / Research, Web Design
      </p>
      <div class="flex items-center space-x-5">
        {% if request.user == user %}
        <div class="text-center p-2 rounded-md border-[1px] text-base">
          <a href="{% url 'accounts:account_update' request.user.username request.user.pk %}" class="text-black"> Edit profile </a>
        </div>
        <div class="text-center p-2 rounded-md border-[1px] text-base">
          <a href="{% url 'accounts:account_update' request.user.username request.user.pk %}" class="text-black"> ... </a>
        </div>
        {% else %}
          {% if request.user in user.followers.all %}
            <div id="follow-btn" data-action="unfollow" data-username="{{user.username}}" data-user_id="{{user.id}}" 
            class="text-center text-[#e94989] p-2 cursor-pointer rounded-md border-[#e94989] border-[1px] text-base">
              - Unfollow 
            </div>
          {% else %}
          <div id="follow-btn" 
            data-action="follow" 
            data-username="{{user.username}}" 
            data-user_id="{{user.id}}" 
            class="text-center p-2 text-black cursor-pointer rounded-md border-[1px] text-base">
            + Follow
          </div>
          {% endif %}
          <div class="text-center p-2 rounded-md border-[1px] text-base">
            <a class="text-black"> ... </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="space-y-7 min-w-full">
    <div class="space-x-6 text-base font-bold">
      <a href="{% url 'accounts:user_details' user.username user.pk %}" class="text-black">Shot{{user.shots.count|pluralize}} {{user.shots.count}}</a>
      <a href="" class="text-[#6e6d8f]">Boosted Shots 0</a>
      <a href="" class="text-[#6e6d8f]">Collections 0</a>
      <a href="{% url 'accounts:liked_shots' user.username user.pk %}" class="text-[#6e6d8f]">Liked Shot{{user.likes.count|pluralize}} {{user.likes.count}}</a>
      <a href="" class="text-[#6e6d8f]">About</a>
    </div>
    <hr />
    <div class="grid items-center gap-4 grid-cols-[repeat(4,_300px)] grid-rows-[repeat(1,_288px)] ">
      {% if request.user == user and user.shots.count == 0 %}
        <div class="text-center flex flex-col items-center justify-center space-y-5 p-5 border-dotted border-[1px] rounded-md">
          <p class="text-2xl font-bold text-black">Upload your first shot</p>
          <p>Show off your best work. Get feedback, likes and be a part of a growing community.</p>
          <div class="text-center flex items-center justify-center w-36 h-14 bg-[#ea4c89] rounded-md">
            <a href="" class="text-white">Upload Shot</a>
          </div>
        </div>
      {% endif %}
      {% block user_details %}
        {% for content in user.shots.all %}
            <div class="infinite-item  transition-all duration-500 delay-300">
                <div class="relative h-60 w-full rounded-md group transition-all duration-500 delay-300">
                    {% if content.cover_shot.name|slice:"-3:" == 'png' or content.cover_shot.name|slice:"-3:" == 'jpg' or content.cover_shot.name|slice:"-3:" == 'gif' or content.cover_shot.name|slice:"-4:" == 'jpeg' or content.cover_shot.name|slice:"-4:" == 'webp' %}
                        <img class="w-full h-60 rounded-md object-cover" src='{{content.cover_shot.url}}' />
                    {% else %}
                        <video class="responsive-video" autoplay class="w-full h-60 rounded-md object-cover" preload="metadata">
                            <source  src="{{ content.cover_shot.url }}#t=0.5" type="video/mp4">
                        </video>
                    {% endif %}
                    <div class="absolute bottom-0 bg-[#000000bd] transition-all duration-500 delay-300 hidden group-hover:flex rounded-md left-0 h-16 w-full p-4  items-center justify-between">
                        <p class="text-white font-semibold text-lg">
                            <a href="{% url 'shots:shot_details' content.shot_uuid %}">
                                {{content.title}}
                            </a>
                        </p>
                        <div class="flex items-center space-x-3">
                            <p class="w-8 h-8 cursor-pointer rounded-md bg-white text-[#9e9ea7] grid items-center justify-center">
                                <i class='bx bxs-folder-plus text-lg' ></i>
                            </p>
                            {% if request.user.is_authenticated and request.user in content.user_like.all %}
                                <p id="like_btn_{{content.pk}}" 
                                data-action="unlike" 
                                data-uuid={{content.shot_uuid}} 
                                data-id={{content.id}} 
                                onclick="likePost('#like_btn_{{content.pk}}', '.likes-count-{{content.pk}}', '#like-btn-{{content.pk}}')" class="w-8 h-8 cursor-pointer rounded-md bg-white text-[#ea4c89] grid items-center justify-center">
                                    <i class="bx bxs-heart text-lg"></i>
                                </p>
                            {% else %}
                                <p id="like_btn_{{content.pk}}" data-action="like" data-uuid={{content.shot_uuid}} data-id={{content.id}} onclick="likePost('#like_btn_{{content.pk}}', '.likes-count-{{content.pk}}', '#like-btn-{{content.pk}}')" class="w-8 h-8 cursor-pointer rounded-md bg-white text-[#9e9ea7] grid items-center justify-center">
                                    <i class="bx bxs-heart text-lg"></i>
                                </p>
                            {% endif %}
                            
                            
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-between h-11">
                    <div class="flex items-center space-x-2">
                        {% if content.user.photo %}
                            <div class="h-8 w-8 rounded-full">
                                <img class="w-full h-full rounded-full"src='{{content.user.photo.url}}' />
                            </div>
                        {% else %}
                            <div class="text-center h-8 w-8 rounded-full text-base text-white bg-blue-800"></div>
                        {% endif %}
                        <p class="cursor-pointer">
                            <a class="text-base text-black font-normal" href="{% url "accounts:user_details" content.user.username content.user.pk %}">
                                {{content.user.username}}
                            </a>
                        </p>
                    </div>
                    
                    <div class="flex items-center space-x-2 text-[#9e9ea7] text-lg">
                        {% if request.user.is_authenticated and request.user in content.user_like.all %}
                        <p onclick="likePost('#like-btn-{{content.pk}}', '.likes-count-{{content.pk}}', '#like_btn_{{content.pk}}')" class="group cursor-pointer  text-[#ea4c89]" data-action="unlike" data-uuid={{content.shot_uuid}} data-id={{content.id}} id="like-btn-{{content.pk}}">
                            <i class="bx bxs-heart"></i> 
                            <span id="total-likes" class="text-[#9e9ea7] likes-count-{{content.pk}}">
                                {{content.user_like.count}}
                            </span>
                        </p>
                        {% else %}
                            <p onclick="likePost('#like-btn-{{content.pk}}', '.likes-count-{{content.pk}}', '#like_btn_{{content.pk}}')" class="group cursor-pointer" data-action="like" data-uuid={{content.shot_uuid}} data-id={{content.id}} id="like-btn-{{content.pk}}">
                                <i class="bx bxs-heart group-hover:text-[#ea4c89]"></i> 
                                <span id="total-likes" class="text-[#9e9ea7] likes-count-{{content.pk}}">{{content.user_like.count}}</span>
                            </p>
                        {% endif %}
                        <p  class="group cursor-pointer">
                            <i class='bx bxs-show group-hover:text-[#ea4c89]'></i> 
                            <span>{{content.view_count}}</span>
                        </p>  
                    </div>
                    
                </div>
            </div>
        {% endfor %}
      {% endblock user_details %}
      </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
{% if request.user.is_authenticated %}
<script>

  // FOLLOW SHOT OWNER
  $("#follow-btn").on("click", function(e){
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'actions:follow_user' %}",
      data: {
        user_id: $(this).data("user_id"),
        action: $(this).data('action'),
        username: $(this).data('username')
      },
      dataType: "json",
      success: function(data){
        if(data.success){
          var $follow_btn = $("#follow-btn")
          var $prev_action = $("#follow-btn").attr('data-action');
          if($prev_action === 'follow'){
            $follow_btn.removeClass("text-black")
            $follow_btn.addClass("text-[#e94989] border-[#e94989]")

            $follow_btn.attr("data-action", "unfollow")
            $follow_btn.text("- Unfollow")
          }else{
            $follow_btn.addClass("text-black")
            $follow_btn.removeClass("text-[#e94989] border-[#e94989]")

            $follow_btn.attr("data-action", "follow")
            $follow_btn.text("+ Follow")
          }
        }else{
          alert("Something went wrong!")
        }
      }
    })
  })

</script>
{% block user_js %}
  <script>
    //Like Shot
    function likePost(target_id, like_count_id, style_target_id)
    {
        //this.e.preventDefault();
        
        $.ajax({
        type: "POST",
        url: "{% url 'actions:like_shot' %}",
        data: {
            id: $(`${target_id}`).data("id"),
            shot_uuid: $(`${target_id}`).data("uuid"),
            action: $(`${target_id}`).data("action"),
        },
        dataType: "json",

        success: function (data) {
            if (data.success) {
                AjaxRequestsExecuted(target_id, like_count_id, style_target_id)
                }
            else {
                alert("Error occured")
            }
        }
        })
    }

    function AjaxRequestsExecuted(target_id, like_count_id, style_target_id)
    {
        var $prev_action = $(`${target_id}`).data("action");
        var $prev_like = $(`${target_id}`).data("action");
        if(like_count_id){
            var $prev_like_count = $(`${like_count_id}`)
            var $prev_likes = parseInt($prev_like_count.text());
            $prev_like_count.text($prev_action == "like" ? $prev_likes + 1 : $prev_likes - 1)
                   
        }
                
    
        if($prev_action == "like")
        {
            $(`${target_id}`).data("action", "unlike");
            $(`${target_id}`).addClass("text-[#ea4c89]");
            if(style_target_id)
            {
                $(`${style_target_id}`).addClass("text-[#ea4c89]");
            }
                    
        }else {
            $(`${target_id}`).removeClass("text-[#ea4c89]");
            $(`${target_id}`).data("action", "like");
            if(style_target_id)
            {
                $(`${style_target_id}`).removeClass("text-[#ea4c89]");
            }
        }
    }
  </script>
{% endblock user_js %}
{% endif %}
{% endblock javascript %}
