{% extends '_base.html' %} 
{% block title %}{{request.user.first_name}} | Dribble {% endblock title %} 

{% block content %}
<div class="grid items-center w-11/12 mx-auto space-y-14 mb-10">
  <div class="flex items-center justify-self-center space-x-7">
    {% if user.photo %}
    <img
      src="{{user.photo.url}}"
      alt="{{user.first_name}}"
      class="w-32 h-32 rounded-full"
    />
    {% else %}
    <div
      class="text-center w-32 h-32 rounded-full text-base text-white bg-blue-800"
    ></div>

    {% endif %}

    <div class="space-y-3">
      <p class="text-4xl font-bold text-black">
        {{user.first_name}} {{user.last_name}}
      </p>
      <p class="text-base font-normal">{{user.location}}</p>
      <p class="text-base font-normal text-[#6e6d8f]">
        Mobile Design, UX Design / Research, Web Design
      </p>
      <div class="flex items-center space-x-5">
        {% if request.user == user %}
        <div class="text-center p-2 rounded-md border-[1px] text-base">
          <a href="{% url 'accounts:account_update' request.user.username request.user.pk %}" class="text-black"> Edit profile </a>
        </div>
        <div class="text-center p-2 rounded-md border-[1px] text-base">
          <a href="{% url 'accounts:account_update' request.user.username request.user.pk %}" class="text-black"> ... </a>
        </div>
        {% else %}
          <div class="text-center p-2 cursor-pointer rounded-md border-[1px] text-base">
            <a class="text-black">+ Follow </a>
          </div>
          <div class="text-center p-2 rounded-md border-[1px] text-base">
            <a class="text-black"> ... </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="space-y-7 min-w-full">
    <div class="space-x-6 text-base font-bold">
      <a href="{% url 'accounts:user_details' user.username user.pk %}" class="text-black">Shot{{user.shots.count|pluralize}} {{user.shots.count}}</a>
      <a href="" class="text-[#6e6d8f]">Boosted Shots 0</a>
      <a href="" class="text-[#6e6d8f]">Collections 0</a>
      <a href="{% url 'accounts:liked_shots' user.username user.pk %}" class="text-[#6e6d8f]">Liked Shot{{user.likes.count|pluralize}} {{user.likes.count}}</a>
      <a href="" class="text-[#6e6d8f]">About</a>
    </div>
    <hr />
    <div class="grid items-center gap-4 grid-cols-[repeat(4,_300px)] grid-rows-[repeat(1,_288px)] ">
      {% if request.user == user and user.shots.count == 0 %}
        <div class="text-center flex flex-col items-center justify-center space-y-5 p-5 border-dotted border-[1px] rounded-md">
          <p class="text-2xl font-bold text-black">Upload your first shot</p>
          <p>Show off your best work. Get feedback, likes and be a part of a growing community.</p>
          <div class="text-center flex items-center justify-center w-36 h-14 bg-[#ea4c89] rounded-md">
            <a href="" class="text-white">Upload Shot</a>
          </div>
        </div>
      {% endif %}
      {% block user_details %}
        {% for content in user.shots.all %}
            <div class="infinite-item  transition-all duration-500 delay-300">
                <div class="relative h-60 w-full rounded-md group transition-all duration-500 delay-300">
                    {% if content.cover_shot.name|slice:"-3:" == 'png' or content.cover_shot.name|slice:"-3:" == 'jpg' or content.cover_shot.name|slice:"-3:" == 'gif' or content.cover_shot.name|slice:"-4:" == 'jpeg' or content.cover_shot.name|slice:"-4:" == 'webp' %}
                        <img class="w-full h-60 rounded-md object-cover" src='{{content.cover_shot.url}}' />
                    {% else %}
                        <video class="responsive-video" autoplay class="w-full h-60 rounded-md object-cover" preload="metadata">
                            <source  src="{{ content.cover_shot.url }}#t=0.5" type="video/mp4">
                        </video>
                    {% endif %}
                    <div class="absolute bottom-0 bg-[#000000bd] transition-all duration-500 delay-300 hidden group-hover:flex rounded-md left-0 h-16 w-full p-4  items-center justify-between">
                        <p class="text-white font-semibold text-lg"><a href="{% url 'shots:shot_details' content.shot_uuid %}">{{content.title}}</a></p>
                        <div class="flex items-center space-x-3">
                            <p class="w-8 h-8 cursor-pointer rounded-md bg-white text-[#9e9ea7] grid items-center justify-center">
                                <i class='bx bxs-folder-plus text-lg' ></i>
                            </p>
                            {% if request.user.is_authenticated and request.user in content.user_like.all %}
                                <p class="w-8 h-8 cursor-pointer rounded-md bg-white text-[#ea4c89] grid items-center justify-center">
                                    <i class="bx bxs-heart text-lg"></i>
                                </p>
                            {% else %}
                                <p class="w-8 h-8 cursor-pointer rounded-md bg-white text-[#9e9ea7] grid items-center justify-center">
                                    <i class="bx bxs-heart text-lg"></i>
                                </p>
                            {% endif %}
                            
                            
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-between h-11">
                    <div class="flex items-center space-x-2">
                        {% if content.user.photo %}
                            <div class="h-8 w-8 rounded-full"><img class="w-full h-full rounded-full"src='{{content.user.photo.url}}' /></div>
                        {% else %}
                            <div class="text-center h-8 w-8 rounded-full text-base text-white bg-blue-800"></div>
                        {% endif %}
                        <p class="cursor-pointer"><a class="text-base text-black font-normal" href='{{content.user.username}}'>{{content.user.username}}</a></p>
                    </div>
                    
                    <div class="flex items-center space-x-2 text-[#9e9ea7] text-lg">
                        {% if request.user.is_authenticated and request.user in content.user_like.all %}
                        <p class="group cursor-pointer"><i class="bx bxs-heart text-[#ea4c89]"></i> <span>{{content.user_like.count}}</span></p>
                        {% else %}
                            <p class="group cursor-pointer"><i class="bx bxs-heart group-hover:text-[#ea4c89]"></i> <span>{{content.user_like.count}}</span></p>
                        {% endif %}
                        <p class="group cursor-pointer"><i class='bx bxs-show group-hover:text-[#ea4c89]'></i> <span>{{content.view_count}}</span></p>  
                    </div>
                    
                </div>
            </div>
        {% endfor %}
      {% endblock user_details %}
      </div>
  </div>
</div>
{% endblock content %}
