{% extends '_base.html' %} {% load static %} {% block title %}Dribble / {{user.username}}{% endblock title %}

{% block content %}
    <section class='login_form'>
        <p>{{user.username}}</p>
        <p>{{user.email}}</p>
        <p>{{user.shots.count}} Post{{user.shots.count|pluralize}}</p>
        <p>{{user.feedbacks.count}} Feedback{{user.feedbacks.count|pluralize}}</p>
        <p>{{user.likes.count}} Like{{user.likes.count|pluralize}}</p>
        <p><span id='followers_count'>{{user.followers.count}}</span> Follower{{user.followers.count|pluralize}}</p>
        <p>{{user.following.count}} Following{{user.following.count|pluralize}}</p>

        <div>
            {% for post in user.shots.all %}
                <p>{{post.title}}</p>
                <p>{{post.user_like.count}} like{{post.user_like.count|pluralize}} <span><button id='like-btn' data-id="{{post.id}}" data-action="{% if request.user in post.user_like.all %}un{% endif %}like" data-uuid="{{post.shot_uuid}}">
                         {% if request.user in post.user_like.all %}un{% endif %}like
                    </button></span></p>
            {% endfor %}
            
        </div>
        {% with total_followers=user.followers.all %}
            {% if request.user != user %}
                <span class="count">
                    <span><button id='follow-btn' data-username="{{user.username}}" data-id="{{user.id}}" data-action="{% if request.user in user_followers %}un{% endif %}follow">
                    {% if request.user in user_followers %}Un{% endif %}follow
                    </button></span>
                </span>
            {% endif %}
            
        {% endwith %}
    </section>
{% endblock content %}

{% block javascript %}
    {% if request.user.is_authenticated %}
    <script>
        $("#follow-btn").on("click", function (e) {
            e.preventDefault();
            $.ajax({
            type: "POST",
            url: "{% url 'actions:follow_user' %}",
            data: {
                user_id: $(this).data("id"),
                username: $(this).data("username"),
                action: $(this).data("action"),
            },
            dataType: "json",

            success: function (data) {
                if (data.success) {
                var $prev_action = $("#follow-btn").data("action");
                var $prev_followers = parseInt($("span#followers_count").text());
                $("#follow-btn").data(
                    "action",
                    $prev_action == "follow" ? "unfollow" : "follow"
                );
                $("#follow-btn").text(
                    $prev_action == "follow" ? "Unfollow" : "Follow"
                );

                $("span#followers_count").text(
                    $prev_action == "follow" ? $prev_followers + 1 : $prev_followers - 1
                );
                } else {
                }
            },
            });
        });
    </script>

    {% endif %}
{% endblock javascript %}