{% extends '_user_edit_base.html' %}

{% block accountblock %}
    <div class='w-full h-full space-x-4 grid'>
        {% if form.errors %}
          <div class="space-y-2">
            {% for field in form %} {% if field.errors %}
            <li class="text-sm text-red-500 font-normal">
              {{field.name}}: {{ field.errors|striptags }}
            </li>
            {% endif %} {% endfor %}
          </div>
        {% endif %}
        <form method='post' enctype="multipart/form-data" class="space-y-5">
            {% csrf_token %}


            <div class="grid space-y-2 ">
                <label for="id_old_password" class="text-black font-semibold text-base">Old password</label>
                <input type="password" name="old_password" required  id="id_old_password" class="bg-[#f3f3f4] h-12 p-3 border-none focus:border-[#f3f3f4] focus:border-[1px] focus:outline-none outline-none rounded-md" />
            </div>
            <div class="grid space-y-2 ">
                <label for="id_new_password1" class="text-black font-semibold text-base">New Password</label>
                <input type="password" name="new_password1" required id="id_new_password1" class="bg-[#f3f3f4] h-12 p-3 border-none focus:border-[#f3f3f4] focus:border-[1px] focus:outline-none outline-none rounded-md" />
            </div>
            <div class="grid space-y-2 ">
                <label for="id_new_password2" class="text-black font-semibold text-base">Re-type New Password</label>
                <input type="password" name="new_password2" id="id_new_password2" required  class="bg-[#f3f3f4] h-12 p-3 border-none focus:border-[#f3f3f4] focus:border-[1px] focus:outline-none outline-none rounded-md" />
            </div>
            {% comment %} {{form.as_p}} {% endcomment %}
            <div
                class="text-center h-12 bg-[#ea4c89] w-[150px] rounded-md cursor-pointer"
              >
                <input
                  type="submit"
                  value="Change"
                  class="text-white w-full h-full cursor-pointer text-sm font-semibold"
                />
              </div>
            
        </form>
    </div>
{% endblock accountblock %}